*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 26px 0;
}

.header-navigation ul {
    text-align: center;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.banner{
    height: 789px;
    background-image: url(../img/banner.png);
    margin-bottom: 49px;
}

.heading{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 0 67.5px;
}

.paragraph-first{
    margin-bottom: 28px;
    margin-top: 2px;
}


.paragraph-second{
    margin-bottom: 66px;
}

main {
    text-align: center;
}

.btn-active {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    background: #FF0000;
    color: #FFFFFF;
    line-height: 12px;
    padding: 18px 43px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 82px;
    
   
    
}

.footer-description{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-bottom: 29px;
    color: #373737;
    text-align: right;
    padding-right: 105px;
}